In [1]:
import bayeslite

%load_ext iventure.magics
%matplotlib inline

/scratch/curlette/.pyenv/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

session_id: curlette_2017-06-08T12:58:46.432613_1

In [2]:
%bayesdb -j satellites.bdb

u'Loaded: satellites.bdb'

In [5]:
%%bql
CREATE TABLE satellites_t FROM 'satellites_train.csv'

Empty DataFrame
Columns: []
Index: []

In [6]:
%bql .nullify satellites_t ''

Nullified 0 cells

In [9]:
%bql .nullify satellites_t 'NaN'

Nullified 1768 cells

In [10]:
%bql SELECT * FROM satellites_t LIMIT 10

,Name,Country_of_Operator,Operator_Owner,Users,Purpose,Class_of_Orbit,Type_of_Orbit,Perigee_km,Apogee_km,Eccentricity,...,Power_watts,Date_of_Launch,Anticipated_Lifetime,Contractor,Country_of_Contractor,Launch_Site,Launch_Vehicle,Source_Used_for_Orbital_Data,longitude_radians_of_geo,Inclination_radians
0,AAUSat-3,Denmark,Aalborg University,Civil,Technology Development,LEO,None,770.0,787.0,0.00119,...,NaN,41330.0,1.0,Aalborg University,Denmark,Satish Dhawan Space Center,PSLV,SC - ASCR,NaN,1.721418
1,"ABS-1 (LMI-1, Lockheed Martin-Intersputnik-1)",International,Asia Broadcasting Satellite,Commercial,Communications,GEO,None,35777.0,35794.0,0.00020,...,6800.0,36429.0,15.0,Lockheed Martin,USA,Baikonur Cosmodrome,Proton,JM/12_08,1.309521,0.000175
2,"ABS-1A (Koreasat 2, Mugunghwa 2, ABS-1A)",International,Asia Broadcasting Satellite,Commercial,Communications,GEO,None,35785.0,35789.0,0.00005,...,1600.0,35078.0,10.0,Lockheed Martin Astro Space,USA,Cape Canaveral,Delta 2,JM/12_08,2.034007,0.032463
3,"ABS-2i (MBSat, Mobile Broadcasting Satellite, ...",China (PR),Asia Broadcasting Satellite,Commercial,Communications,GEO,None,35780.0,35793.0,0.00015,...,7400.0,38059.0,12.0,Space Systems/Loral,USA,Cape Canaveral,Atlas 3,JM/12_08,1.308997,0.000175
4,"ABS-7 (Koreasat 3, Mugungwha 3)",International,Asia Broadcast Satellite,Commercial,Communications,GEO,None,35780.0,35791.0,0.00013,...,4800.0,36407.0,15.0,Lockheed Martin Astro Space,USA,Guiana Space Center,Ariane,JM/12_08,2.027724,0.000175
5,AcrimSat (Active Cavity Radiometer Irradiance ...,USA,"NASA Goddard Space Flight Center, Jet Propulsi...",Government,Solar Physics,LEO,Sun-Synchronous,670.0,710.0,0.00283,...,10.0,36515.0,5.0,Orbital Sciences Corp.,USA,Vandenberg AFB,Taurus,www.satellitedebris.net 12/12,NaN,1.706932
6,"Advanced Orion 2 (NROL 6, USA 139)",USA,National Reconnaissance Office (NRO),Military,Electronic Surveillance,GEO,None,35560.0,36013.0,0.00537,...,NaN,35924.0,NaN,TRW Space and Electronics,USA,Cape Canaveral,Titan IVA,JM/12_08,-0.253073,0.134739
7,"Advanced Orion 3 (NROL 19, USA 171)",USA,National Reconnaissance Office (NRO),Military,Electronic Surveillance,GEO,None,35589.0,35984.0,0.00468,...,NaN,37873.0,NaN,TRW Space and Electronics,USA,Cape Canaveral,Titan IV,JM/12_08,1.665044,0.055851
8,"Advanced Orion 4 (NRO L-26, USA 202)",USA,National Reconnaissance Office (NRO),Military,Electronic Surveillance,GEO,None,35714.0,35937.0,0.00264,...,NaN,39831.0,NaN,National Reconnaissance Laboratory (?),USA,Cape Canaveral,Delta 4 Heavy,SC - ASCR,0.767945,0.050440
9,"Advanced Orion 5 (NRO L-32, USA 223)",USA,National Reconnaissance Office (NRO),Military,Electronic Surveillance,GEO,None,35500.0,35500.0,0.00000,...,NaN,40503.0,NaN,National Reconnaissance Laboratory (?),USA,Cape Canaveral,Delta 4 Heavy,SC - ASCR,1.761037,0.000000

In [11]:
%%mml
CREATE POPULATION satellites_p FOR satellites_t WITH SCHEMA (
     GUESS (*)
);

Empty DataFrame
Columns: []
Index: []

In [12]:
%%mml
CREATE METAMODEL satellites_m FOR satellites_p WITH BASELINE crosscat();

Empty DataFrame
Columns: []
Index: []

In [13]:
%%mml
INITIALIZE 1 MODEL FOR satellites_m;

Empty DataFrame
Columns: []
Index: []

In [15]:
%%mml
ANALYZE satellites_m FOR 90 ITERATIONS WAIT( OPTIMIZED );

Completed: 90 iterations in 28.049129 seconds.

Empty DataFrame
Columns: []
Index: []

In [6]:
df = %bql ESTIMATE PREDICTIVE PROBABILITY OF Apogee_km AS pred_prob FROM satellites_p WHERE satellites_t.rowid < 5

In [9]:
df.loc[:, "pred_prob"].tolist()

[5.2025984830776043e-05,
 5.9715133916020437e-05,
 5.9713419741455429e-05,
 5.9714806704613264e-05]

In [4]:
nr = %sql SELECT COUNT(*) FROM satellites_t

In [5]:
nr.iloc[0,0]

778.0